<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
<div id="content">
    <p>Hello {{ username }} Your session ID: {{ session_id }}</p>
</div>
<div>
    <button id="button" onclick="document.cookie = 'sessionId=; expires=Thu, 01 Jan 1970 00:00:00 UTC;'; location.href='/logout'">Log out</button>
</div>
</body>
</html>
