<!DOCTYPE html>
<html>
    <body>
        <p>Hello {{ username }} Your session ID: {{ session_id }}</p>
        <form action="/logout">
            <button type=submit>Log out</button>
        </form>
    </body>
</html>
