<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
    </head>
    <body>
        <p>Hello {{ username }} Your session ID: {{ session_id }}</p>
        <form action="/logout">
            <button type=submit>Log out</button>
        </form>
    </body>
</html>
