<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
<div id="rectangle">
    <form method="POST">
        <br/>
        <label for="username">username</label><br/>
        <input type="text" id="username" name="username" required="required"><br/>
        <label for="password">password</label><br/>
        <input type="password" id="password" name="password" required="required"><br/>
        <br/><br/>
        <input id="button" type="submit" value="Sign in">

        <p>{{ message }}</p>
    </form>
</div>

</body>
</html>
